@import "tailwindcss";

@font-face {
    font-family: "Poppins";
    src: url("./assets/font/Poppins.woff2");
}

* {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    background-color: #e9ecef;
}

.title {
    font-family: "Poppins";
}